header {
  padding-top: 36px;
  padding-bottom: 22px;
}

header img {
  width: 52.19px;
  height: 30.75px;
}

@media (min-width: 992px) {
  header {
    padding-top: 22px;
    padding-bottom: 35px;
  }

  header img {
    width: 64.87px;
    height: 38.23px;
  }
}

@media (min-width: 1280px) {
	header {
		padding-bottom: 50px;
	}

  header img {
    width: 112px;
    height: 66px;
  }
}
