@import url("./header.css");
@import url("./intro-section.css");
@import url("./intro-section.css");
@import url("./format-section.css");
@import url("./course-section.css");
@import url("./learning-section.css");
@import url("./programme-section.css");
@import url("./passed-section.css");
@import url("./info-section.css");
@import url("./footer.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Some global variables */
@import url("./variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
}

header,
section,
footer {
  padding: 50px 32px 50px 36px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  header,
  section,
  footer {
    padding-right: 48px;
    padding-left: 48px;
  }
}
