#intro .wrapper {
  max-width: 720px;
  padding-top: 24px;
  padding-bottom: 38px;
}

#intro .content {
  flex-basis: 55%;
}

#intro .details {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#intro li {
  list-style: none;
  display: flex;
  align-items: center;
}

#intro img {
  width: 100%;
}

#intro .icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#intro .text {
  max-width: 65px;
  font-weight: 400;
  line-height: 11px;
}

#intro .details li {
  margin-right: 12px;
}

/* h1 */
#intro h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 1.01;
  margin-bottom: 10px;
}

#intro .content p {
  max-width: 212.4px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

/* producer image */

#intro .producer {
  flex-basis: 45%;
  max-width: 260px;
  width: 48%;
  margin-left: auto;
}

/* blue text */

#intro .blue-text {
  flex-basis: 100%;
  padding-top: 38px;
}

#intro .blue-text > div {
  width: fit-content;
  border-radius: 3px;
  background-color: #1e4681;
  padding: 9px 12px 16px;
}

#intro .blue-text p {
  max-width: 200.64px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 130%;
  color: #ffffff;
}

#intro .blue-text .producer-name {
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}

@media (min-width: 768px) {
  #intro .producer {
    margin-right: 60px;
  }
}

@media (min-width: 992px) {
  #intro .wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
  }

  #intro .details {
    margin-bottom: 7.5px;
  }

  #intro .icon {
    width: 12px;
    height: 12px;
  }

  #intro .text {
    max-width: 75.29px;
    font-size: 1.2rem;
  }

  #intro .details li {
    margin-right: 14px;
  }

  #intro h1 {
    font-size: 4.6rem;
  }

  #intro .content p {
    max-width: 264px;
    font-size: 1.2rem;
  }

  /* producer image */

  #intro .producer img {
    width: 45%;
    max-width: 260px;
  }

  #intro .producer {
    padding-top: 30px;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    /* max-width: 304px; */
    /* height: 206.18px; */
    display: flex;
    justify-content: center;
    /* margin-left: 445px; */
    /* margin-top: -150px; */
  }

  /* blue text */
  #intro .blue-text > div {
    /* max-width: 280.11px; */
    height: 115.83px;
    border-radius: 2.89px;
    padding-left: 15px;
    padding-right: 15.65px;
    padding-top: 11.15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #intro .blue-text p {
    max-width: 249.38px;
    height: 65.45px;

    font-size: 1.4rem;
  }

  #intro .blue-text .producer-name {
    height: 26.43px;
    font-size: 1.2rem;
    margin-top: 6px;
  }
  /* end of table media query */
}

/* Desktop */
@media (min-width: 1281px) {
  #intro .wrapper {
    max-width: 100%;
		padding-top: 50px;
		padding-bottom: 86px;
  }

  #intro .details {
    margin-bottom: 29px;
  }

  #intro .icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  #intro .text {
    max-width: 130px;
    font-size: 2rem;
  }

  #intro .details li {
    margin-right: 25px;
  }

  #intro h1 {
    max-width: 628px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 80px;
  }

  #intro .content p {
    max-width: 414px;
    height: 62px;
    font-weight: 400;
    font-size: 2rem;
    list-style: 1.5;
  }
  /*producer image */

  #intro .producer {
    width: 304px;
  }

  #intro .producer img {
    width: auto;
  }

  /* blue text */
  #intro .blue-text > div {
    /* max-width: 483.63px; */
    height: 200px;
    border-radius: 5px;
    padding-left: 26px;
    padding-right: 27px;
    padding-top: 19.26px;
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
  }

  #intro .blue-text p {
    max-width: 430.59px;
    height: 113px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
  }

  #intro .blue-text .producer-name {
    width: 280.5px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 22px;
    margin-left: 180px;
    text-align: right;
  }
}
