#intro .intro-icons {
  display: flex;
  margin-bottom: 8px;
}

#intro li {
  list-style: none;
  display: flex;
}
#intro .icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#intro .text {
  width: 65px;
  font-weight: 400;
  line-height: 11px;
}

#intro .intro-icons li {
  margin-right: 12px;
}

#intro img {
  max-width: 100%;
}

/* h1 */
#intro h1 {
  width: 292.63px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 38px;
  margin-bottom: 10px;
}

#intro p {
  width: 212.4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;
  color: #000000;
}

/* producer image */

#intro .producer {
  max-width: 176px;
  width: 48%;
  margin-left: auto;
}

#intro .producer img {
  max-width: 100%;
}

/* blue text */
#intro .blue-text {
  width: 225.36px;
  height: 93.19px;
  border-radius: 2.32px;
  background-color: #1e4681;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9px;
  margin-top: 47px;
}

#intro .blue-text p {
  width: 200.64px;
  height: 52.65px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 130%;
  color: #ffffff;
}

#intro .blue-text .producer-name {
  height: 21.27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  text-align: right;
}

@media (min-width: 830px) {
  #intro .intro-icons {
    display: flex;
    margin-bottom: 7.5px;
  }
  #intro .icon {
    width: 12px;
    height: 12px;
  }

  #intro .text {
    width: 75.29px;
    font-size: 1.2rem;
  }

  #intro .intro-icons li {
    margin-right: 14px;
  }

  /* h1 */
  #intro h1 {
    width: 363.72px;
    height: 110.04px;

    font-size: 4.6rem;
  }

  #intro p {
    width: 264px;
    font-size: 1.2rem;
    color: #000000;
  }

  /* producer image */

  #intro .producer img {
    max-width: 100%;
  }

  #intro .producer {
    width: 176.07px;
    height: 206.18px;
    margin-left: 445px;
    margin-top: -150px;
  }

  /* blue text */
  #intro .blue-text {
    width: 280.11px;
    height: 115.83px;
    border-radius: 2.89px;
    padding-left: 15px;
    padding-right: 15.65px;
    padding-top: 11.15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #intro .blue-text p {
    width: 249.38px;
    height: 65.45px;

    font-size: 1.4rem;
  }

  #intro .blue-text .producer-name {
    height: 26.43px;
    font-size: 1.2rem;
    margin-top: 6px;
  }
  /* end of table media query */
}

/* Desktop */
@media (min-width: 1400px) {
  #intro .intro-icons {
    display: flex;
    margin-bottom: 29px;
  }
  #intro .icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  #intro .text {
    width: 130px;
    font-size: 2rem;
  }

  #intro .intro-icons li {
    margin-right: 25px;
  }

  #intro h1 {
    width: 628px;
    height: 190px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
  }

  #intro p {
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }
  /*producer image */

  #intro img {
    width: 100%;
  }

  #intro .producer {
    width: 304px;
  }

  /* blue text */
  #intro .blue-text {
    width: 483.63px;
    height: 200px;
    border-radius: 5px;
    padding-left: 26px;
    padding-right: 27px;
    padding-top: 19.26px;
    margin-top: 50px;
    margin-left: 313px;
    margin-right: auto;
  }
  #intro .blue-text p {
    width: 430.59px;
    height: 113px;

    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 130%;
  }

  #intro .blue-text .producer-name {
    width: 280.5px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 130%;
    margin-top: 22px;
    margin-left: 180px;
    text-align: right;
  }
}
