#learning {
  padding-top: 36px;
  padding-bottom: 32px;
}

#learning h2 {
  margin-bottom: 15.66px;
  font-size: 26px;
}

#learning ul {
  font-size: 1.2rem;
  list-style-position: outside;
}

#learning li {
  margin-bottom: 8px;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 18px;
  text-indent: -1.3em;
}

#learning li::marker {
  height: 100%;
}

@media (min-width: 992px) {
  #learning h2 {
    margin-bottom: 18.66px;
    font-size: 3.2rem;
  }
  #learning ul {
    max-width: 383.41px;
    font-size: 1.4rem;
    list-style-position: inside;
  }
}
@media (min-width: 1281px) {
	#learning {
		padding-top: 90px;
		padding-bottom: 128px;
	}
  #learning h2 {
    margin-bottom: 21px;
    font-size: 5.5rem;
  }
  #learning ul {
    max-width: 662px;
    font-size: 2.9rem;
    list-style-position: inside;
  }

  #learning li {
    margin-bottom: 16px;
  }
}
