#passed {
  padding-top: 42px;
  padding-bottom: 53px;
}

#passed h2 {
  font-family: "Roboto Slab";
  max-width: 257px;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.01;
  margin-bottom: 26px;
}

#passed img {
  width: 100%;
}

#passed .card {
  max-width: 458px;
  border-radius: 13.98px;
  background: rgba(255, 255, 255, 1);
  padding: 18px 21px 13px;
}

#passed .content {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 16px;
}

#passed .profile-container {
  display: flex;
}

#passed .profile-image {
  width: 80px;
}

#passed .profile-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#passed .name {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

#passed .fb {
  width: 14.91px;
  margin-top: 0px;
}

#passed {
  background: rgba(239, 239, 239, 1);
}

#passed .card {
  box-shadow: 0.46597224473953247px 0.46597224473953247px 9.31944465637207px 0px
    rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px) {
  body #passed {
    padding-left: 71px;
  }

  #passed h2 {
    max-width: 571.64px;
    font-size: 3.2rem;
    margin-bottom: 36px;
  }

  #passed .card {
    margin-top: 19.69px;
  }

  #passed .content {
    font-size: 1.2rem;
    max-width: 405.42px;
  }

  #passed .profile-image {
    width: 100px;
  }

  #passed .profile-container .name {
    font-size: 1.7rem;
    /* margin-left: 142.48px; */
  }
}

@media (min-width: 1281px) {
  body #passed {
    padding-left: 126px;
  }

  #passed h2 {
    max-width: 987px;
    font-size: 5.5rem;
    margin-bottom: 50px;
  }

  #passed .card {
    max-width: 791px;
    margin-top: 19.69px;
    padding: 40px 45px 30px;
  }

  #passed .content {
    font-size: 2rem;
    line-height: 30px;
    max-width: 700px;
  }

  #passed .profile-image {
    width: 160px;
    margin-right: 32px;
  }

  #passed .profile-container .name {
    font-size: 3rem;
    /* margin-left: 142.48px; */
  }

  #passed .profile-container .fb {
    width: 32px;
    height: 32px;
  }
}
