/*mobile*/
#programme {
  padding-top: 32px;
  padding-bottom: 47px;
}

#programme #charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

#programme .chart {
  max-width: 186px;
  border-radius: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#programme .chart .about {
  padding: 5px 10px 12px;
}

#programme img {
  width: 100%;
}

#programme h2 {
  /* max-width: 421.7px; */
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.01;
  margin-bottom: 46px;
}

#programme .chart h3 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.3;
}

#programme .about p {
  margin-top: 14.91px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
}

/*tablet*/
@media (min-width: 992px) {
  body #programme {
    padding-left: 48px;
  }

  #programme #charts {
    justify-content: flex-start;
  }

  #programme .chart {
    max-width: 231px;
    margin: 0;
    border-radius: 17.375px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #programme .chart .about {
    padding: 8px 10px 13px;
  }

  #programme .img {
    height: 92.66667938232422px;
    width: 231.0875244140625px;
  }

  #programme h2 {
    max-width: 524.15px;
    height: 53.86px;
    font-weight: 700;
    font-size: 3.2rem;
    margin-left: 22px;
  }

  #programme .chart h3 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 18.53px;
  }

  #programme .about p {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
}

/*desktop*/
@media (min-width: 1280px) {
  body #programme {
    padding-left: 84px;
		padding-top: 124px;
		padding-bottom: 121px;
  }

  #programme #charts {
    column-gap: 37px;
    row-gap: 37px;
  }

  #programme .chart {
    flex-basis: 31%;
    max-width: 399px;
    border-radius: 30px;
    margin-bottom: 41px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #programme .chart .about {
    padding: 11px 14px 23px 20px;
  }

  #programme img {
    width: 100%;
  }

  #programme h2 {
    max-width: 905px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 5.5rem;
    margin-left: 40px;
    margin-bottom: 120px;
  }
  #programme .chart h3 {
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 3rem;
  }
  #programme .about p {
    margin-top: 32px;
    font-weight: 400;
    font-size: 2.5rem;
  }
}
